$zize_imagen: 300px;
$zize_imag: 70%;
$zize_logo: 130px;
$font_intro: 30px;
$font_contactos: 10px;
$font_servicios: 15px;
$font_parafo: 25px;
$font_servis: 18px;
$bordes: 20px;

html {
    font-size: 62.5%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: darkgrey;
  }    
  header {
    width: 100%;
  }  
  main {
    width: 100%;
  }
  nav{
    width: 100%;
  }
  .intros{font-size: 18px;}
  li{
    font-size: 20px;
    margin-left: 30px;
    padding-left: 30px;
  }
  .logomio {
    width: 130px;   
    filter: brightness(1.1);
    mix-blend-mode: multiply;
  }  
  .imgprincipal {
    width: 470px;
    width: 80%;
    border-radius: $bordes;
  }  
  p {
    font-size: $font_parafo;
  }
  .imagen1{
    width: 300px;
    width: 50%;
    border-radius: $bordes;    
  }
  .imagen2{
    width: $zize_imag;
    width: 50%;
    border-radius: $bordes;
  }
  .imagen3{ 
    width: $zize_imagen; 
    width: 50%;  
    border-radius: $bordes;      
  }
.img_icons{
  width: 50px;
  margin-top: 50px;
}
h3{
  font-size: $font_contactos;
 padding-left: 50px;
}
h4{
  font-size: $font_servis;
}
h5{
  font-size: $font_servicios;
}
// pagina de contacto

.titulo2{text-align: center;  
}
.form{font-size: $font_contactos;
  }  
  .mail{
    font-size: $font_servicios;
  }

// pagina quienes somos
.logomio3{width: $zize_logo;  
}
h1.dondeestas{
  font-size:$font_servicios;
}
.somos{
  font-family: 'Gloock', serif;
  font-size: 20px;
}
.somos1{
  font-size: 35px;
}

#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "footer";
}
footer{
  grid-area: footer;
}
.iconoq{
  padding-left: 150px;
}
.meil{
  padding-left: 50px;
}
@media screen and (min-width: 470px) {
  #container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 1fr);
    grid-template-areas:
      "footer" "footer";
  }
  .iconoq{
    margin-top: 10rem;
  }
  .meil{padding-left: 50rem;
    margin-bottom: 15rem;
  }
}
// pagina de fotos
@mixin tamanos($ancho, $alto){
  width: $ancho;
  height: $alto;
  }
img.foto{
  @include tamanos(250px, 150px )
 }
img.foto{
  transition: 0.5s;
  border-radius: 20px;
}
img.foto:hover{
  transform: scale(1.20);
}
.taitel{
  text-align: center;
  font-family: 'Bona Nova', serif;
  font-size: $font_intro;
}
// pagina Servicios
.contenedor{
  height: auto;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .pizzas{
    margin-left: 50px;
    width: $zize_imagen;
    width: $zize_imag;
    border-radius: $bordes; 
    text-align: center;  
   }
   .chivito{
    margin-left: 50px;
    margin-top: 20px;
    width: $zize_imagen;
    width: $zize_imag;
    border-radius: $bordes;
    text-align: center;
  }
  .fiambres{
    margin-left: 50px;
    margin-top: 20px;
    width: $zize_imagen;
    width: $zize_imag;
    border-radius: $bordes;
    text-align: center;
  }
  .parrilla{
    margin-left: 50px;
    margin-top: 20px;
    width: $zize_imagen;
    width: $zize_imag;
    border-radius: $bordes;
    text-align: center;
  }
  h1{
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 480px){
  .parrilla, .fiambres, .chivito, .pizzas{
    width: 100%;
    margin-right: 50px;  
    text-align: center;
      
    h1{
      font-size: $font_servis;
     text-align: center;
     margin-top: 15px;
      }
      h2{
        text-align: center;
        font-size: $font_servicios;
      }    
  }
}